<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sway - @ViewBag.Title</title>
    <link rel="icon" href="~/images/favicon.svg" type="image/svg"/>
    <link rel="stylesheet" href="~/css/layout.css" type="text/css"/>
</head>
<body>
    <header>
        <div name="header-title">

        </div>
        <nav>
            <img href="~/images/logo.svg" />
            <a>Home</a>
            <a>Old Maps</a>
            <a>About</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <h3>Dec 2023, early version</h3>
    </footer>
</body>
</html>
