@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sway - @ViewBag.Title</title>
    <link rel="icon" href="~/images/favicon.svg" type="image/svg"/>
    <link rel="stylesheet" href="~/css/layout.css" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <img class="nav-item" src="~/images/logo.svg" />
            <a asp-controller="Home" asp-action="Index" class="nav-item">Home</a>
            <a asp-controller="Editor" asp-action="Index" class="nav-item">Editor</a>
            <a class="nav-item">Old Maps</a>
            <a class="nav-item">About</a>
        </nav>
    </header>
    <hr />
    <main>
        @RenderBody()
    </main>
    <footer>
        <h3>Dec 2023, early version</h3>
    </footer>
</body>
</html>
