@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Editor";
}
<p>
    <a asp-action="Stations">Stations</a>
</p>
<p>
    <a asp-action="Lines">Lines</a>
</p>

