@model List<SwayASP.Models.Station>
@{
    Layout = "_Layout";
}
<h2>Stations:</h2>
<table>
    <tr><th>ID</th><th>Name</th><th>Line</th></tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Line.Name</td>
        </tr>
    }
</table>

