
@{
	Layout = "_Layout";
}

<div>
    <form method="post">
        <input type="text" placeholder="From" required>
        <input type="text" placeholder="To" required>
        <br>
        <input type="submit" value="Find">
    </form>
    <img href="~/images/current/map.png" alt="Sway map"/>
</div>
