
@{
	Layout = "_Layout";
}

<div id="map-displayer" class="visible-div">
    <form method="post" id="find-station">
        <div>
            <input type="text" placeholder="From" required>
            <input type="text" placeholder="To" required>
        </div>
        <br>
        <input id="find" type="submit" value="Find">
    </form>
    <img id="sway-map" src="~/images/current/map.png" alt="Sway map"/>
</div>
