@{
    Layout = "_Layout";
    ViewBag.Title = "Old Maps";
}

<h2>Old maps</h2>
<section id="old-maps">
    <img class="sway-map" src="~/images/old/03 22 2023.png"/>
    <img class="sway-map" src="~/images/old/04 01 2023.png" />
    <img class="sway-map" src="~/images/old/04 04 2023.png" />
</section>
