body {
    font-size: 1.1rem;
    font-family: 'Segoe UI';
    width: 100%;
    margin: 0px;
}

main {
    width: 80%;
    margin: 20px auto;
}

.visible-div {
    background-color: #f7efff;
    border-radius: 1rem;
    margin: 15px;
    padding: 15px;
}

.nav-item {
    margin-right: 30px;
    max-height: 40px;
    font-size: 1.5rem;
}

.edit-link, .nav-item {
    color: rgba(123,0,255,1);
    text-decoration: none;
}

.edit-link:hover, .nav-item:hover {
    text-decoration: underline;
}

.edit-link:active, .nav-item:active {
    color: rgba(123,0,255,1);
}

.edit-link:visited, .nav-item:visited {
    color: rgba(123,0,255,1);
}

nav, form {
    background-color: #fbe2ff;
    border-radius: 1rem;
    margin: 15px;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
    margin-left: 4rem;
}

h3 {
    font-size: 1.1rem;
    margin-left: 2rem;
    margin-top: 5rem;
}

input {
    border-width: 0px;
    font-size: 1.5rem;
    margin: 7px;
}

.input-data {
    border-width: 0px;
    font-size: 1.2rem;
    margin: 5px;
}

.submit-data {
    font-size: 1.2rem;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 25px;
    background: white;
    color: black;
    cursor: pointer;
    min-width: 20%;
    margin: 1rem;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd; 
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

.sway-map {
    width: 75%;
    height: auto;
    max-height: 120%;
    border: 1px solid #dddddd;
    margin: 10px;
}

#map-displayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#find {
    font-size: 1.6rem;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(53,0,168,1) 0%, rgba(123,0,255,1) 100%);
    color: #ffffff;
    cursor: pointer;
    min-width: 20%;
}

#find:hover {
    background: linear-gradient(90deg, rgba(222,160,0,1) 0%, rgba(255,0,168,1) 100%);
}

#find-station {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#old-maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}