body {
    font-size: 1.1rem;
    font-family: 'Segoe UI';
    width: 100%;
    margin: 0px;
}

.visible-div {
    background-color: #f7efff;
    border-radius: 1rem;
    margin: 15px;
    padding: 15px;
}

.nav-item {
    margin-right: 30px;
    max-height: 40px;
    font-size: 1.5rem;
}

nav, form {
    background-color: #fbe2ff;
    border-radius: 1rem;
    margin: 15px;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

input {
    border-width: 0px;
    font-size: 1.5rem;
    margin: 7px;
}

#sway-map {
    width: 75%;
    height: auto;
    max-height: 120%;
}

#map-displayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#find {
    font-size: 1.6rem;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(53,0,168,1) 0%, rgba(123,0,255,1) 100%);
    color: #ffffff;
    cursor: pointer;
    min-width: 20%;
}

#find:hover {
    background: linear-gradient(90deg, rgba(222,160,0,1) 0%, rgba(255,0,168,1) 100%);
}

#find-station {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}